*{
    box-sizing:border-box;
}

html{
    height:auto;
}

body{
    height:100%;
    margin:0;
    background:linear-gradient(to right,#111412,#64686c,#aeb9c2,#aeb9c2,#64686c,#111412);
}

#container{
    margin-top:60px;
    height:100%;
    display:flex;
    width:1300px;
    justify-content: center;
    margin-left:auto;
    margin-right:auto; 
    border-radius:30px;
    background-color:#313434;
}

#mangas{
    display:flex;
    width:97%;
    margin-left:auto;
    margin-right:auto; 
    justify-content: center;
    border-radius:30px;
    margin-top:5px;
    margin-bottom:5px;
    background-image: url("images/motif-background.png");
}

#header{
    display:flex;
    height:100px;
    width:300px;
    position:absolute;
    justify-content:space-between;
}

#header h1{
    height:50px;
    margin-top:70px;
    color:white;
    text-shadow: 2px 0 0 #111412, 2px 2px 0 #111412, 0 2px 0 #111412, -2px 2px 0 #111412, -2px 0 0 #111412, -2px -2px 0 #111412, 0 -2px 0 #111412, 2px -2px 0 #111412;
    text-align:center;
}

#reset {
    border:2px solid darkgrey;
    width:80px;
    height:40px;
    margin-top:70px;
}

#contenu{
    display:grid;
    width:97%;
    margin-bottom:10px;
    margin-top:150px;
    grid-template-columns:repeat(7,1fr);
    grid-template-rows:repeat(5,370px);
}

.manga{
    display:flex;
    border:1px solid black;
    background-color:lightgray;
    justify-content: center;
    text-align: center;
}

.manga .manga-img{
    border:1px solid black;
    margin-top:10px;
    width:93px;
    height:129px;
    position:absolute;
}

.manga-vert{
    border:1px solid black;
    margin-top:10px;
    width:93px;
    height:129px;
    position:absolute;
    z-index:2;
    visibility:hidden;
    opacity:0.6;
}

.manga p {
    margin-top:153px;
    font-size:20px;
    position: absolute;
}

[id^=nombreChap]{
    margin-top:180px !important;
    font-size:44px !important;
}

#idbutton{
    display:flex;
}

.button {
    width:80px;
    height:40px;
    margin-top:240px;
}

#edit{
    position:absolute;
    margin-top:282px;
}

[id^=editform]{
    display:flex;
    margin-top:330px;
    position: absolute;
    visibility:hidden;
}

[id^=inputEdit]{
    width:80px;
}

[id^=croix]{
    width:30px;
    height: 30px;
    float:right;
    cursor:pointer;
}

#final{
    background:rgba(216, 216, 216, 0.4);
    border:none;
    border-radius:20px;
    display:flex;
    align-items:center;
}

#final img{
    background:rgba(216, 216, 216, 1);
    border:none;
    width:60px;
    height:60px;
    padding:10px;
    box-sizing: content-box;
    border-radius: 200px;
    cursor:pointer;
}

.formAdd{
    visibility:hidden;
    color:white;
    background:rgba(216, 216, 216, 0.4);
    border:1px solid black;
    border-radius:20px;
}

#croixFinal{
    opacity:0.9;
}

#affichage{
    margin-top:100px;
    display: flex;
    flex-direction: column;
    margin-left:10px;
}

#affichage input{
    margin-top:0px;
    width:70px;
}

#Message{
    display:inline-block;
    visibility:hidden;
    opacity:1;
    border:1px solid black;
    background-color:white;
}
